<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container">
            @Html.ActionLink("maDMP Translator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        @Html.ActionLink("Convert", "Convert", "DMP", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>

                <ul class="nav navbar-nav ml-auto">
                        @Html.Partial("_LoginPartial")
                </ul>

            </div>
        </div>
    </div>
    
    <div class="container body-content">
        @{
            if (TempData["ViewMessage"] is maDMPTranslator.Models.Utils.MessageResult)
            {
                var msg = TempData["ViewMessage"] as maDMPTranslator.Models.Utils.MessageResult;
                var msgClass = string.Empty;
                if (msg.Status.ToString() == "Fail")
                {
                    msgClass = "alert-danger";
                }
                else if (msg.Status.ToString() == "Success")
                {
                    msgClass = "alert-success";
                }
                else if (msg.Status.ToString() == "Information")
                {
                    msgClass = "alert-info";
                }
                else if (msg.Status.ToString() == "Warning")
                {
                    msgClass = "alert-warning";
                }

                <div class="alert @msgClass alert-dismissible fade show" role="alert">
                    <div>
                        <strong>@msg.Message</strong>
                    </div>
                    <span>@Html.Raw(HttpUtility.HtmlEncode(string.IsNullOrEmpty(msg.DetailedMessage) ? "" : msg.DetailedMessage).Replace("\n", "<br/>"))</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            &times;

                        </span>
                    </button>
                </div>
            }
            if (!string.IsNullOrEmpty(ViewBag.Error))
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error Message!</strong> @ViewBag.Error
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        }

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</body>
</html>
