@model  maDMPTranslator.ViewModels.DMPTemplatePDF
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>dmp</title>
    @Styles.Render("~/Content/css")

</head>
<body>
    @{
        Dictionary<string, string> questiosns = Model.QuestionsDict;
        Dictionary<string, List<string>> answers = Model.AnswersDict;
    }
    <div class="container">
        <h2>@questiosns["Data_Officer"]</h2>
        <p>@answers["Data_Officer"].First()</p>

        <h2>@questiosns["Data_Characteristics"]</h2>
        <p>@answers["Data_Characteristics"].First()</p>

        <h2>@questiosns["Doc_Metadata"]</h2>
        <p>@answers["Doc_Metadata"].First()</p>

        <h2>@questiosns["Availability_Storage"]</h2>
        <p>@answers["Availability_Storage"].First()</p>

        <h2>@questiosns["Legal_Ethical"]</h2>
        <p>@answers["Legal_Ethical"].First()</p>
        
    </div>

</body>
</html>
