@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dmp</title>
</head>
<body>
    @{
    }
    <h2>@Model.QuestionsDict["DATA_SUMMARY_1"]</h2>
    @*<h2>@questiosns["FAIR_2_1"]</h2>
    <h2>@questiosns["FAIR_2_2"]</h2>
    <h2>@questiosns["FAIR_2_3"]</h2>
    <h2>@questiosns["FAIR_2_4"]</h2>
    <h2>@questiosns["ALLOCATION_3"]</h2>
    <h2>@questiosns["SECURITY_4"]</h2>
    <h2>@questiosns["ETHICAL_5"]</h2>
    <h2>@questiosns["OTHER_6"]</h2>*@
    

</body>
</html>
